
  <div class="login-wrapper">

  <mat-card >
    <mat-card-header>
      <mat-card-title class="jt">Bienvenido a PGG Manager</mat-card-title>
    </mat-card-header>

    <form class="example-form" [formGroup]="loginForm" (ngSubmit)="loginAuth(loginForm)">
      <mat-card-content>
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Escribe tu email" required formControlName="user" required>
          <mat-error *ngIf="error.user.errors"><span *ngIf="error.user.errors.required">¡Advertencia! Este campo es requerido</span></mat-error>
          <mat-error *ngIf="error.user.errors"><span *ngIf="error.user.errors.minlength">¡Aún falta! Recibimos mínimo 3 caracteres</span></mat-error>
          <mat-error *ngIf="error.user.errors"><span *ngIf="error.user.errors.maxlength">¡Cuidado! Solo puedes tener un máximo de 50 caracteres</span></mat-error>
          <mat-error *ngIf="error.user.errors"><span *ngIf="error.user.errors.email">¡Cuidado! No es un correo </span></mat-error>
        </mat-form-field>

        <br><br>
        <mat-form-field class="col-12"  appearance="fill">
          <mat-label>Contraseña</mat-label>
          <input matInput  [type]="hide ? 'password' : 'text'" placeholder="Escribe tu contraseña"  required formControlName="password" required>
          <mat-error *ngIf="error.password.errors"><span *ngIf="error.password.errors.required">¡Advertencia! Este campo es requerido</span></mat-error>
          <mat-error *ngIf="error.password.errors"><span *ngIf="error.password.errors.minlength">¡Aún falta! Recibimos mínimo 5 caracteres</span></mat-error>
          <mat-error *ngIf="error.password.errors"><span *ngIf="error.password.errors.maxlength">¡Cuidado! Solo puedes tener un máximo de 15 caracteres</span></mat-error>
          <a mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ?  'visibility' : 'visibility_off'}}</mat-icon>
          </a>
      </mat-form-field>
      </mat-card-content>

      <label class="js">Si usted no recuerda su contraseña debe comunicarse con el administrador para que su contraseña sea restablecida</label>

      <br>

      <div  class="row">

      <div class="col-4"> </div>

      <div class="col-4 boton">  <button mat-raised-button color="primary" disabled='{{loginForm.invalid}}'>Ingresar</button> </div>

      <div class="col-4"> </div>


     </div>

     <br>

    </form>
  </mat-card>

</div>



