.Puntero{
  cursor: pointer;
}

th{
  color: white !important;
  font-weight: bold;
  background-color: #BDBEBF;
  text-align: center !important;
  align-content: center !important;
  align-items: center !important;
}

.mat-success
{
  background-color: #BDBEBF;
  color: whitesmoke;
}

.h1{
  background-color: #BDBEBF;
  color: whitesmoke;
  font-weight: 700

}