<div class="row">
  <div class="col-6">
    <button mat-raised-button color="primary" (click)="Redirect()">
      Crear Usuarios
    </button>
  </div>
</div>
<br />
<br />

<table mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="accion">
    <th
      style="padding-left: 20px; padding-right: 20px"
      class="start"
      mat-header-cell
      *matHeaderCellDef
    >
      Acciones
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-icon class="Puntero" (click)="Redirect(row)">create</mat-icon>
    </td>
  </ng-container>

  <ng-container matColumnDef="Estado">
    <th class="start" mat-header-cell *matHeaderCellDef>Estado</th>
    <td mat-cell *matCellDef="let row">
      <mat-slide-toggle class="example-margin" [color]="color" (click)="changeState(row.id, row.state)" [checked]="row.state === 1 ? 'true' : 'false'">

      </mat-slide-toggle>
    </td>
  </ng-container>

  <ng-container matColumnDef="firstName" ,>
    <th
      style="padding-left: 80px; padding-right: 80px"
      mat-header-cell
      *matHeaderCellDef
    >
      Nombre de usuario
    </th>
    <td mat-cell *matCellDef="let row">
      {{ row.firstName }} {{ row.middleName }} {{ row.firstLastname }}
      {{ row.secondLastname }}
    </td>
  </ng-container>

  <ng-container matColumnDef="fkDocumentType">
    <th
      style="padding-left: 10px; padding-right: 10px"
      mat-header-cell
      *matHeaderCellDef
    >
      Tipo de Documento
    </th>
    <td
      style="padding-left: 20px; padding-right: 20px"
      mat-cell
      *matCellDef="let row"
    >
      {{
        row.fkDocumentType === 2
          ? "Cediiiiula"
          : "hola" || row.fkDocumentType === 1
          ? "Cedula"
          : "hola"
      }}
    </td>
  </ng-container>

  <ng-container matColumnDef="documentNumber">
    <th
      style="padding-left: 20px; padding-right: 20px"
      mat-header-cell
      *matHeaderCellDef
    >
      N° de Documento
    </th>
    <td
      style="padding-left: 20px; padding-right: 20px"
      mat-cell
      *matCellDef="let row"
    >
      {{ row.documentNumber }}
    </td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th
      style="padding-left: 20px; padding-right: 20px"
      mat-header-cell
      *matHeaderCellDef
    >
      Email
    </th>
    <td
      style="padding-left: 20px; padding-right: 20px"
      mat-cell
      *matCellDef="let row"
    >
      {{ row.email }}
    </td>
  </ng-container>

  <ng-container matColumnDef="phone">
    <th
      style="padding-left: 20px; padding-right: 20px"
      mat-header-cell
      *matHeaderCellDef
    >
      phone
    </th>
    <td
      style="padding-left: 20px; padding-right: 20px"
      mat-cell
      *matCellDef="let row"
    >
      {{ row.phone }}
    </td>
  </ng-container>

  <ng-container matColumnDef="position">
    <th
      style="padding-left: 20px; padding-right: 20px"
      mat-header-cell
      *matHeaderCellDef
    >
      Cargo
    </th>
    <td
      style="padding-left: 20px; padding-right: 20px"
      mat-cell
      *matCellDef="let row"
    >
      {{ row.position }}
    </td>
  </ng-container>

  <ng-container matColumnDef="business">
    <th
      style="padding-left: 20px; padding-right: 20px"
      mat-header-cell
      *matHeaderCellDef
    >
      Empresa
    </th>
    <td
      style="padding-left: 20px; padding-right: 20px"
      mat-cell
      *matCellDef="let row"
    >
      {{ row.business }}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<mat-paginator
  [pageSizeOptions]="[5, 10]"
  showFirstLastButtons
  aria-label="Select page of periodic elements"
>
</mat-paginator>
