<h2>{{jsonFormData?.section}}</h2>
<br>



<form [formGroup]="myForm" (ngSubmit)="onSubmit()">

    <div *ngFor="let element of fullForm">

      {{element.section}}
      <br><br>

      <div class="row">
      
      <div *ngFor="let control of element.form" class="col-{{control.col}}">

        <mat-form-field *ngIf="control.type !== 'file'" appearance="fill">
  
          <mat-label *ngIf="control.label !== ''">{{ control.label }}</mat-label>
  
          <input matInput *ngIf="
          [
            'text',
            'password',
            'email',
            'number',
            'search',
            'tel',
            'url'
          ].includes(control.type)
          " [type]="control.type"
          [formControlName]="control.name"
          [value]="control.value">
  
          <textarea matInput *ngIf="control.type === 'textarea'"
          [formControlName]="control.name"
          [value]="control.value"></textarea>

          <mat-select *ngIf="control.type === 'select'" [formControlName]="control.name">
            <mat-option *ngFor="let option of control.options" value="option.value">{{option.label}}</mat-option>
          </mat-select>

          <div *ngIf="control.type === 'date'">
            <input matInput [matDatepicker]="picker1" [formControlName]="control.name" [value]="control.value">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </div>
          
      <mat-error>{{getErrorMessage(control)}}</mat-error>
      
      </mat-form-field>

      <div *ngIf="control.type === 'file'">

        <button  type="button" mat-raised-button (click)="fileInput.click()">Subir {{control.label}}</button>
        <input hidden [formControlName]="control.name" (change)="onFileSelected($event, control)" #fileInput type="file" id="file" accept="{{control?.validators?.extenxion}}"> 
        <p style="cursor: pointer;" *ngIf="control.nameFile" (click)="downloadFile(control)">{{control.nameFile}} <mat-icon>download</mat-icon> 
        <mat-error>{{getErrorMessage(control)}}</mat-error></p>
        
      </div>
      
      </div>

      </div>

    </div>

    <br>

    <div class="row">

      <div class="col-4"></div>
      <div class="col-4">
        <button style="width: 100%;" type='submit' mat-raised-button color="success" disabled='{{myForm.invalid}}' cdkFocusInitial>Guardar</button></div>
      <div class="col-4"></div>

    </div>

  </form>