<h2>{{jsonFormData[0].section}}</h2>
<br>
<form [formGroup]="myForm" (ngSubmit)="onSubmit()">

  <div class="row">

    <div *ngFor="let control of jsonFormData[0].form" class="col-{{control.col}}">

        <mat-form-field *ngIf="control.type !== 'file'" appearance="fill">
  
          <mat-label *ngIf="control.label !== ''">{{ control.label }}</mat-label>
  
          <input matInput *ngIf="
          [
            'text',
            'password',
            'email',
            'number',
            'search',
            'tel',
            'url'
          ].includes(control.type)
          " [type]="control.type"
          [formControlName]="control.name"
          [value]="control.value">
  
          <textarea *ngIf="control.type === 'textarea'"
          [formControlName]="control.name"
          [value]="control.value"></textarea>

          <mat-select *ngIf="control.type === 'select'" [formControlName]="control.name">
            <mat-option *ngFor="let option of control.options" value="option.value">{{option.label}}</mat-option>
          </mat-select>
      
      <mat-error>{{getErrorMessage(control)}}</mat-error>
      
      </mat-form-field>

      <div *ngIf="control.type === 'file'">

        <button  type="button" mat-raised-button (click)="fileInput.click()">Subir {{control.label}}</button>
        <input hidden [formControlName]="control.name" (change)="onFileSelected($event, control)" #fileInput type="file" id="file" accept="{{control?.validators?.extenxion}}"> 
        <p style="cursor: pointer;" *ngIf="control.nameFile" (click)="downloadFile(control)">{{control.nameFile}} <mat-icon>download</mat-icon> 
        <mat-error>{{getErrorMessage(control)}}</mat-error></p>
        

      </div>
      

      </div>

  </div>

    <button type='submit' mat-raised-button color="success" disabled='{{myForm.invalid}}' cdkFocusInitial>Guardar</button>

    <button (click)="controles()" >contorles</button>

</form>