<form [formGroup]="myForm" (ngSubmit)="onSubmit()">

  <div *ngFor="let control of jsonFormData[0].form">

    <mat-form-field appearance="fill">

        <mat-label *ngIf="control.label !== ''">{{ control.label }}</mat-label>

        <input matInput *ngIf="
        [
          'text',
          'password',
          'email',
          'number',
          'search',
          'tel',
          'url'
        ].includes(control.type)
        " [type]="control.type"
        [formControlName]="control.name"
        [value]="control.value">

        <textarea *ngIf="control.type === 'textarea'"
        [formControlName]="control.name"
        [value]="control.value"></textarea>

    </mat-form-field>

  </div>

    <button type='submit' mat-raised-button color="success" disabled='{{myForm.invalid}}' cdkFocusInitial>Guardar</button>
</form>