<div class="login-wrapper forms">
    <form class="example-form"  [formGroup]="loginForm" (ngSubmit)="authSms(loginForm)" >
    <mat-card>
        <mat-card-header>
            <h1 mat-card-title>
                Confirmacion de usuario
                <br>
                <span>Para continuar debe ingresar el codigo que fue enviado a su celular via SMS</span>
            </h1>
        </mat-card-header>
        <mat-card-content>
            <div class="row">
                <div class="col-3"></div>
                <div class="col-6">
            <mat-form-field appearance="fill">
                <mat-label>Ingrese el codigo que llegó a su celular</mat-label>
                    <input formControlName="code" matInput required>
        </mat-form-field>
    </div>
    <div class="col-3"></div>
    </div>
    </mat-card-content>
            <div  class="row">
                <div class="col-5"> </div>
                <div class="col-7 boton">  <button type = "submit" mat-raised-button color ="success" disabled='{{loginForm.invalid}}'>Confirmar</button> </div>
               </div>
               <br>
            </mat-card>
        </form>
        </div>
       


