        
<!-- ============================================================== -->
<!-- Profile - style you can find in header.scss -->
<!-- ============================================================== -->
<button [matMenuTriggerFor]="profile" mat-icon-button class="m-r-5"> <img src="assets/images/users/1.jpg" alt="user" class="profile-pic"> </button>
<mat-menu #profile="matMenu" class="mymegamenu">

    <button mat-menu-item routerLink="/app/view-user">
        <mat-icon>account_box</mat-icon> Perfil </button>
    <button mat-menu-item (click)="changePassword()">
        <mat-icon>password</mat-icon> Cambiar contraseña </button>
    <button mat-menu-item (click)="logOut()">
        <mat-icon>exit_to_app</mat-icon> Cerrar Sesión </button>        

</mat-menu>

