<div class="row">
    <div class="col-7"> <h1>  <mat-icon class="icon-display">{{categoria.icon}}</mat-icon> {{categoria.name}} </h1>  </div>
    <div class="col-2">
      <button mat-raised-button color="success" (click)="cargaMasiva()">
        Carga Masiva
      </button>
    </div>
    <div class="col-2">
      <button mat-raised-button color="success" (click)="createBusiness()">
        Crear {{categoria.name}}
      </button>
    </div>
    <div class="col-1"></div>
  </div>
<br><br>
<app-dynamic-table *ngIf="infoBusiness" [Data]="infoBusiness"></app-dynamic-table>
