.button{text-align: center;}

.forms th {
    text-align: center;
    font-size: 22px;
    font-weight: 700; color:#202020;
    text-transform: uppercase;
    word-spacing: 1px; letter-spacing:2px;
  }
 
  .forms td {
    text-align: center;
    font-size: 22px;
    font-weight: 700; color:#202020;
    text-transform: uppercase;
    word-spacing: 1px; letter-spacing:2px;
  }
 
  