
  <mat-card>
    <mat-card-content>
      <mat-card-title>
        <div class="forms">
          <td>{{modelo?.tittle}}
          </td>
      </div>
      </mat-card-title>
      <br>
      <form [formGroup]="createForm" (ngSubmit)="saveUser(modelo?.type, createForm)" >
      <div class="row">
        
        <div class="col-6">
          
          <mat-form-field appearance="fill">
            <mat-label>Primer nombre</mat-label>
            <input
              matInput
              required
              formControlName="firstName"
              placeholder="Ingresa tu primer nombre"
            />
            <mat-error *ngIf="error.firstName.errors"
              ><span *ngIf="error.firstName.errors.required"
                >¡Advertencia! Este campo es requerido</span
              ></mat-error
            >
            <mat-error *ngIf="error.firstName.errors"
              ><span *ngIf="error.firstName.errors.minlength"
                >¡Advertencia! Este campo debe tener mas de 4 caracteres</span
              ></mat-error
            >
          </mat-form-field>
        </div>
        <br />
        <div class="col-6">
          <mat-form-field appearance="fill"> 
            <mat-label>Segundo nombre</mat-label>
            <input
              matInput
              formControlName="middleName"
              placeholder="Ingresa tu segundo nombre"
            />
            <mat-error *ngIf="error.middleName.errors"
              ><span *ngIf="error.middleName.errors.minlength"
                >¡Advertencia! Este campo debe tener mas de 4 caracteres</span
              ></mat-error
            >
          </mat-form-field>
        </div>
      <br />
        <div class="col-6">
          <mat-form-field appearance="fill">
            <mat-label>Primer apellido</mat-label>
            <input
              matInput
              required
              formControlName="firstLastname"
              placeholder="Ingresa tu primer apellido"
            />
            <mat-error *ngIf="error.firstLastname.errors"
              ><span *ngIf="error.firstLastname.errors.required"
                >¡Advertencia! Este campo es requerido</span
              ></mat-error
            >
            <mat-error *ngIf="error.firstLastname.errors"
              ><span *ngIf="error.firstLastname.errors.minlength"
                >¡Advertencia! Este campo debe tener mas de 4 caracteres</span
              ></mat-error
            >
          </mat-form-field>
        </div>
        <br />
        <div class="col-6">
          <mat-form-field appearance="fill">
            <mat-label>Segundo apellido</mat-label>
            <input
              matInput
              formControlName="secondLastname"
              placeholder="Ingresa tu segundo apellido"
            />
            <mat-error *ngIf="error.secondLastname.errors"
              ><span *ngIf="error.secondLastname.errors.minlength"
                >¡Advertencia! Este campo debe tener mas de 4 caracteres</span
              ></mat-error
            >
          </mat-form-field>
        </div>
      <br />

        <div class="col-6">
          <mat-form-field appearance="fill">
            <mat-label>Tipo de documento</mat-label>
            <mat-select formControlName="fkDocumentType">
              <mat-option *ngFor="let item of select?.document_type" [value]="item.id">
                {{item.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="error.fkDocumentType.errors"
              ><span *ngIf="error.fkDocumentType.errors.required"
                >¡Advertencia! Este campo es requerido</span
              ></mat-error
            >
          </mat-form-field>
        </div>
      <br>
        <div class="col-6">
          <mat-form-field appearance="fill">
            <mat-label>Rol</mat-label>
             <mat-select formControlName="roles">
              <mat-option *ngFor="let item of select?.roles" [value]="item.id">
               {{item.rol}}
              </mat-option>
            </mat-select>
          <mat-error *ngIf="error.roles.errors"
           ><span *ngIf="error.roles.errors.required"
              >¡Advertencia! Este campo es requerido</span
            ></mat-error
          >
        </mat-form-field>
      </div>   
        <div class="col-6">
          <mat-form-field appearance="fill">
            <mat-label>Numero de documento</mat-label>
            <input
              type="number"
              matInput
              required
              formControlName="documentNumber"
              placeholder="Ingresa tu numero de documento"
            />
            <mat-error *ngIf="error.documentNumber.errors"
              ><span *ngIf="error.documentNumber.errors.required"
                >¡Advertencia! Este campo es requerido</span
              ></mat-error
            >
            <mat-error *ngIf="error.documentNumber.errors"
              ><span *ngIf="error.documentNumber.errors.min"
                >¡Aún falta! Recibimos mínimo 5 caracteres</span
              ></mat-error
            >
          </mat-form-field>
        </div>
      <br />
      <div class="col-6">
        <mat-form-field appearance="fill">
          <mat-label>Numero de telefono</mat-label>
          <input
            type="number"
            matInput
            required
            formControlName="phone"
            placeholder="Ingresa tu numero de telefono"
          />
          <mat-error *ngIf="error.phone.errors"
            ><span *ngIf="error.phone.errors.required"
              >¡Advertencia! Este campo es requerido</span
            ></mat-error
          > 
          <mat-error *ngIf="error.phone.errors"
          ><span *ngIf="error.phone.errors.min"
            >¡Advertencia! Este campo requiere minimo de 10 caracteres</span
          ></mat-error
        >
        <mat-error *ngIf="error.phone.errors"
          ><span *ngIf="error.phone.errors.max"
            >¡Advertencia! Este campo requiere maximo de 10 caracteres</span
          ></mat-error
        >
        </mat-form-field>
      </div>
    <br />
        <div class="col-12">
          <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input
              matInput
              required
              formControlName="email"
              placeholder="Ingresa tu email"
            />
            <mat-error *ngIf="error.email.errors"
              ><span *ngIf="error.email.errors.required"
                >¡Advertencia! Este campo es requerido</span
              ></mat-error
            >
            <mat-error *ngIf="error.email.errors"
              ><span *ngIf="error.email.errors.email"
                >¡Advertencia! Este campo requiere un email</span
              ></mat-error
            >
          </mat-form-field>
        </div>
        <br />
        <div class="col-12">
          <mat-form-field appearance="fill">
            <mat-label>Cargo</mat-label>
            <input
              matInput
              required
              formControlName="position"
              placeholder="Ingresa tu cargo"
            />
            <mat-error *ngIf="error.position.errors"
              ><span *ngIf="error.position.errors.required"
                >¡Advertencia! Este campo es requerido</span
              ></mat-error
            >
            <mat-error *ngIf="error.position.errors"
              ><span *ngIf="error.position.errors.minlength"
                >¡Advertencia! Este campo debe tener mas de 3 caracteres</span
              ></mat-error
            >
          </mat-form-field>
        </div>
        <br />
        <div class="col-12">
          <mat-form-field appearance="fill">
            <mat-label>Puesto</mat-label>
            <input
              matInput
              required
              formControlName="business"
              placeholder="Ingresa a que te dedicas"
            />
            <mat-error *ngIf="error.business.errors"
              ><span *ngIf="error.business.errors.required"
                >¡Advertencia! Este campo es requerido</span
              ></mat-error
            >
            <mat-error *ngIf="error.business.errors"
              ><span *ngIf="error.business.errors.minlength"
                >¡Advertencia! Este campo debe tener mas de 3 caracteres</span
              ></mat-error
            >
          </mat-form-field>
        </div>
      <br>
      <div class="row">
        <div class="col-4"></div>
        <div class="col-2 button">
          <button *ngIf="modelo?.type !== 'ver'" type='submit' mat-raised-button color="success" disabled='{{createForm.invalid}}' cdkFocusInitial>{{modelo?.tittle}}</button>
        </div><div class="col-6">
          <button *ngIf="modelo?.type === 'editar'" mat-raised-button color="success" routerLink="/app/admin-users/1">Volver a Usuarios</button>
        </div></div>
      </div>
    </form>
    </mat-card-content>
  </mat-card>

