<mat-card>
	<mat-card-content>
    <mat-card-title>Creacion de usuarios</mat-card-title>
<div class="row">
<div class="col-6">
  <mat-form-field>
  <input matInput  placeholder="Ingresa tu primer nombre">
</mat-form-field>
</div>
<div class="col-6">
<mat-form-field>
  <input matInput  placeholder="Ingresa tu segundo nombre">
</mat-form-field>
</div>
</div>
<div class="row">
<div class="col-6">
  <mat-form-field>
  <input matInput  placeholder="Ingresa tu primer apellido">
</mat-form-field>
</div>
<div class="col-6">
<mat-form-field>
  <input matInput  placeholder="Ingresa tu segundo apellido">
</mat-form-field>
</div>
</div>
<div class="row">
<div class="col-6">
  <mat-form-field>
  <input matInput  placeholder="Ingresa tu tipo de documento">
</mat-form-field>
</div>
<div class="col-6">
<mat-form-field>
  <input matInput  placeholder="Ingresa tu numero de documento">
</mat-form-field>
</div>
</div>
<div class="row">
<div class="col-6">
  <mat-form-field>
  <input matInput  placeholder="Ingresa tu email">
</mat-form-field>
</div>
<div class="col-6">
<mat-form-field>
  <input matInput  placeholder="Ingresa tu numero de telefono">
</mat-form-field>
</div>
</div>
<div class="row">
  <div class="col-6">
    <mat-form-field>
    <input matInput  placeholder="Ingresa tu cargo">
  </mat-form-field>
  </div>
  <div class="col-6">
  <mat-form-field>
    <input matInput  placeholder="Ingresa a que te dedicas">
  </mat-form-field>
  </div>
  </div>
  <br>
  <div class="row">
    <div class="col-4"></div>
    <div class="col-4 button">
      <button mat-raised-button color="primary">Crear usuario</button>
    </div>
    <div class="col-4"></div>
  </div>


  </mat-card-content>
</mat-card>
